# Let's explore the metadata

In [2]:
import pandas as pd

## Load the metadata

In [3]:
df = pd.read_csv("../data/index.csv")
df.head()

,Unnamed: 0,index,filename,label1,label2,label3
0,1,1,Pia1.2016-10-04.1801+N292_hc.tif,zooplankton,noncopepod,annelida_polychaeta
1,2,2,Pia1.2016-10-05.1229+N28_hc.tif,zooplankton,noncopepod,annelida_polychaeta
2,3,3,Pia1.2016-10-06.2118+N136_hc.tif,zooplankton,noncopepod,annelida_polychaeta
3,4,4,Pia1.2017-03-21.1136+N01644266_hc.tif,zooplankton,noncopepod,annelida_polychaeta
4,5,5,Pia1.2017-03-21.1136+N01646706_hc.tif,zooplankton,noncopepod,annelida_polychaeta

## Check the labels

In [4]:
df['label1'].unique()

array(['zooplankton', 'detritus'], dtype=object)

In [5]:
df['label2'].unique()

array(['noncopepod', 'copepod', 'detritus'], dtype=object)

In [6]:
df['label3'].unique()

array(['annelida_polychaeta', 'appendicularia', 'bivalvia-larvae',
       'byrozoa-larvae', 'chaetognatha', 'cirripedia_barnacle-nauplii',
       'cladocera', 'cladocera_evadne-spp', 'cnidaria', 'copepod_unknown',
       'copepod_calanoida', 'copepod_calanoida_acartia-spp',
       'copepod_calanoida_calanus-spp', 'copepod_calanoida_candacia-spp',
       'copepod_calanoida_centropages-spp',
       'copepod_calanoida_para-pseudocalanus-spp',
       'copepod_calanoida_temora-spp', 'copepod_cyclopoida',
       'copepod_cyclopoida_corycaeus-spp',
       'copepod_cyclopoida_oithona-spp', 'copepod_cyclopoida_oncaea-spp',
       'copepod_harpacticoida', 'copepod_nauplii',
       'decapoda-larvae_brachyura', 'echniodermata-larvae', 'euphausiid',
       'euphausiid_nauplii', 'fish-eggs', 'gastropoda-larva',
       'mysideacea', 'nt-bubbles', 'nt-phyto_ceratium-spp',
       'nt-phyto_rhizosolenia-spp', 'nt_phyto_chains', 'ostracoda',
       'radiolaria', 'tintinnida', 'tunicata_doliolida', 'detritus'],
      dtype=object)

## Imbalanced classes

In [7]:
df['label3'].value_counts()

detritus                                    40000
copepod_calanoida_para-pseudocalanus-spp     1988
copepod_unknown                              1853
radiolaria                                   1810
copepod_calanoida                            1665
copepod_nauplii                              1380
copepod_cyclopoida_corycaeus-spp             1117
echniodermata-larvae                          799
copepod_calanoida_centropages-spp             773
copepod_cyclopoida_oncaea-spp                 710
copepod_harpacticoida                         643
copepod_cyclopoida_oithona-spp                492
nt-phyto_ceratium-spp                         459
copepod_calanoida_acartia-spp                 451
nt-bubbles                                    354
copepod_calanoida_calanus-spp                 345
appendicularia                                316
cirripedia_barnacle-nauplii                   308
nt_phyto_chains                               298
tunicata_doliolida                            291
cnidaria                                      252
fish-eggs                                     200
ostracoda                                     188
nt-phyto_rhizosolenia-spp                     184
bivalvia-larvae                               172
copepod_calanoida_temora-spp                  168
euphausiid                                    164
gastropoda-larva                              160
chaetognatha                                  158
cladocera                                     148
annelida_polychaeta                           141
euphausiid_nauplii                            139
mysideacea                                    132
cladocera_evadne-spp                          128
tintinnida                                    128
copepod_cyclopoida                            100
byrozoa-larvae                                 96
copepod_calanoida_candacia-spp                 41
decapoda-larvae_brachyura                      40
Name: label3, dtype: int64